
html, body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.emblem {
  position: relative;
  text-align: center;
}

.light-value {
  position: absolute;
  top: 45%;
  right: 16px;
  font-size:24px;
  color: #FFE488;
  font-weight:500;
  transform: translate(-50%, -50%);
}

.currency {
  display:flex;
}

.currencyIcon {
  margin-right:5px;
}


.profile {
  position:absolute;
  bottom:145px;
  left:38px;
  font-size:18px;
  font-weight:500;
  display:flex;
}

.profilePic {
  clip-path: circle(50% at 50% 50%);
  
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1 {
  font-size:22px;
  font-weight:500;
  color:white;
}

.MuiTypography-root.MuiTypography-body1 {
  font-size:14px;
  font-weight:500;
  color:#626262;
}

.MuiTypography-root.profileName {
  font-size:18px;
  font-weight:500;
  color:white;
  margin-left:20px;
}

.class-name {
  position: absolute;
  top: 45%;
  left: 100px;
  font-size:24px;
  color: white;
  font-weight:400;
  transform: translate(-50%, -50%);
}

/* LOADOUT PAGE */
.search-button {
  width: 344px;
  padding: 150px;
  display:block;
  margin-left:auto;
  margin-right:auto;

}

.categoryTitle {
  font-size:22px;
  margin-bottom:10px;
  color:white;
}

.category {
  display:flex;
  max-width:330px;
  margin-bottom:20px;
}
.unequipped {
  display:flex;
  flex-wrap:wrap;
}

.itemImage img{
  border: 2px solid white;
  margin-right:5px;
  display:inline-block;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.itemImage img[equipped] {
  padding:2px;
  border: 3px solid white;
  margin-right:5px;
  display:inline-block;
}


.MuiTooltip-tooltip.jss230.MuiTooltip-tooltipPlacementBottom {
  padding:0;
}
.title {
  display:block;
  position:relative;
  padding-left:8px;
  margin-top:5px;
}

.power {
  display:flex;
  justify-content: center;
  font-size:20px;
  font-weight:500;
  align-items:center;
  padding-bottom: 10px;
}

hr {
  color:white;
  display:block;
  opacity:0.8;
  margin-left:8px;
  margin-right:8px;
  border-style:inset;
  border-width:0.5px;
}

.description {
  font-size:12px;
  font-style: italic;
  opacity:0.6;
  padding:8px;
  line-height:normal;
}

.item-type {
  font-size:14px;
  opacity:0.8;
  padding-left:8px;
}

.detailedImage {
  position:relative;
  display:inline-block;
}

.detailedImage:after{
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background:linear-gradient(to bottom, transparent 0%, #1E2025 100%);
}

.detailedImage img{
  display:block;
}

.itemImage:hover img {
  opacity:0.5;
}

.searchResults {
  justify-content:center;
  font-size:18px;
}


.bottomElements{
  padding: 0px;
  margin-top:100px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.logout-button {
  position:absolute;
  width:214px;
  background-color:#44474E;
  color:white;
  margin-bottom:50px;
  left:38px;
  display:block;
}



