@import url(https://fonts.googleapis.com/css?family=Archivo:400,500&display=swap);

body {
  margin: 0;
  font-family: 'Archivo',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code .someting{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.makeStyles-appBar-13 {
  box-shadow:none;
}

@media only screen and (min-width: 600px){ 
  /* 600px + */
  .bottomElements{
    padding: 0;
    left: 240px;
    position: absolute;
    width: calc(100% - 290px);
    bottom: 40px;
  }

  .MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
    min-height:70px;
    left: 290px;
    position: fixed;
    width: calc(100% - 290px);
    z-index:1000;
    /* display:none; */
  }

  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit{
    min-width:50%;
  }



  .MuiTabs-flexContainer.MuiTabs-centered {
    margin-top:25px;
  }

  .MuiTab-wrapper {
    font-size:16px;
    font-weight: 500;

  }

  h6.MuiTypography-root{
    margin-left: 180px;
    font-size:32px;
    font-weight:400;
    display:block;
    margin-top:31px;
    justify-content:center;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary{
    width: 344px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

  .MuiPagination-root.pagination{
    margin: auto;
    display: block;
    width: 240px;
    margin-top: 50px;
  }
  .searchResults{
    display:flex;
    left: 290px;
    margin-top:80px;
    position: absolute;
    width: calc(100% - 290px);
  }

}

@media only screen and (max-width: 600px){
  /* anything less than 600px */
  .bottomElements{
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 40px;
  }

  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit{
    min-width:50%;
  }


  .MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
    min-height:48px;
    margin-top:-10px;
    position:fixed;
    z-index:1000;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary{
    width: 344px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

  .MuiPagination-root.pagination{
    margin: auto;
    display: block;
    width: 240px;
  }

  .searchResults{
    display:flex;
    margin-top:10px;
  }

}